<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
  <packageSourceMapping>
   <packageSource key="nuget.org">
      <package pattern="*" />
   </packageSource>
  </packageSourceMapping>
  <packageSourceCredentials>
    <Migrator_x0020_source>
        <add key="Username" value="any" />
        <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAALRXQX26SUE6Ai9r4T3feCwAAAAACAAAAAAAQZgAAAAEAACAAAACW3s4ydI+HYHJUJ4WBVeFLTcgmlh3QpaipL0dFUEVdxgAAAAAOgAAAAAIAACAAAADBmisCA97eb0wsl6etIjeoJtcCYazizBidgFgrofzR80AAAADWPTSnf/5ETjrfAjPkRyxxY+7LXIt6qcWUXHPkk+58HaQyK2dT6lLs8VRI/Pbjqh2Fub9hCTWF4ATiywQ2KAvxQAAAAN8J/LsishheViGmxWW0RSpd6ZrPoFZJpdaml8yNqhdgL7EfD4/6Md46CcZd4OexGd2H5WONy1Akvn5eYYq8anY=" />
      </Migrator_x0020_source>
  </packageSourceCredentials>
</configuration>